
.pin-header {
  @apply bg-blue-300 hover:underline ;
}
.page-home-data,
.front-page-data,
.error404 {
  .header:not(.pin-header):not(.is-open-menu) {
    .hamburger-menu .icon-bar {
      @apply bg-white;
    }

    .main-menu-ul {
      @apply hover:text-red-500
    }

    .btn-transparent {
      @apply bg-white border-brown-100;

      &:hover {
        @apply text-base border-brown-200;
      }
    }
  }
}
a {
    @apply font-semibold;
}

.screenshot {
  .header {
    @apply left-auto transform-none;
  }
}
.header-logo{
  max-width: 226px;
}
@screen down_lg {
  header {
    &::after {
      content: '';
      @apply bg-brown-100 right-0 left-0 top-0 bottom-full absolute z-a-1;
    }
    &.is-open-menu {
      height: calc(100% + 70px);

      &::after {
        @apply bottom-0;
      }

    }
  }

  .touch {
    .main-menu-ul {
      flex: 0 0 auto;
    }
  }
}


@media (max-width: 767px) and (orientation: landscape) {
  .header {
    @apply absolute bg-transparent #{!important};
  }
}
